Repository AnkiHubSoftware/ankihub_addon: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

.pre-commit-config.yaml:

exclude: "lib|media_import|ankiaddonconfig"
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.12.4
      hooks:
        - id: ruff-check
          args: [ --fix ]
        - id: ruff-format

    - repo: local
      hooks:
          - id: no_absolute_imports_from_ankihub
            name: no_absolute_imports_from_ankihub
            types: [python]
            exclude: ^tests/
            entry: "from ankihub([.]| import )"
            language: pygrep

          - id: no_anki_aqt_imports_in_client
            name: no anki/aqt imports in ankihub_client
            types: [python]
            files: ^ankihub/ankihub_client/
            entry: "^(from (anki|aqt)[ .]|import (anki|aqt))"
            language: pygrep

Fix form items not expanding in macOS's native theme
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Improve spacing
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Make errors bold
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Make links bold
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Make input labels bold
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Add SVG error icon
  ankihub/gui/ankiweb.py
  ankihub/gui/icons/error.svg
  ankihub/gui/utils.py
Due: no_absolute_imports_from_ankihub

fixes spacing between elements
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Remove duplicate .setContentsMargins()
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Align children of FormWidget to center
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Remove workaround for empty label's size
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Do not set a fixed height
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Change email emoji
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Move timer.start() call to init_timer()
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

change intercom setup order and set production app id
  ankihub/ankihub_client/ankihub_client.py
  ankihub/entry_point.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

fix tests after login check on intercom
  tests/addon/test_integration.py
Due: none

get intercom from config not user details
  ankihub/gui/intercom.py
  ankihub/settings.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Implement bring_to_front utility and update message handling for dialog visibility
  ankihub/gui/js_message_handling.py
  ankihub/gui/utils.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

[KNW-187] Implement new AnkiWeb signup/login screens (#1324)
  ankihub/gui/ankiweb.py
  ankihub/gui/icons/error.svg
  ankihub/gui/menu.py
  ankihub/gui/utils.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Patch aqt.sync.sync_login()
  ankihub/entry_point.py
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Add tests
  tests/addon/test_unit.py
Due: none

Skip aqt.preferences.sync_login patch in qt5 tests
  tests/addon/test_unit.py
Due: none

Fix return value of get_id_and_pass_mock in test
  tests/addon/test_unit.py
Due: none

hide support button checkbox behind a feature flag
  ankihub/gui/config_dialog.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

[ACTV-408] inject intercom on anki desktop (#1328)
  ankihub/ankihub_client/__init__.py
  ankihub/ankihub_client/ankihub_client.py
  ankihub/config.json
  ankihub/entry_point.py
  ankihub/gui/config_dialog.py
  ankihub/gui/intercom.py
  ankihub/gui/menu.py
  ankihub/gui/tutorial.py
  ankihub/gui/web/lib/tutorial.css
  ankihub/gui/web/lib/tutorial.js
  ankihub/settings.py
  tests/addon/test_integration.py
  tests/addon/test_unit.py
  tutorial/lib/tutorial.css
  tutorial/lib/tutorial.ts
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

[KNW-186] Patch AnkiWeb login dialog (#1326)
  ankihub/entry_point.py
  ankihub/gui/ankiweb.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Put sync_login patch behind a feature flag
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Update tests
  tests/addon/test_unit.py
Due: none

[KNW-190] Put AnkiWeb login dialog's patch behind a feature flag (#1327)
  ankihub/gui/ankiweb.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Add icons
  ankihub/gui/icons/media-sync-dark.svg
  ankihub/gui/icons/media-sync-error-dark.svg
  ankihub/gui/icons/media-sync-error-light.svg
  ankihub/gui/icons/media-sync-light.svg
  ankihub/gui/media_sync.py
  ankihub/gui/utils.py
Due: no_absolute_imports_from_ankihub

Show a basic error indicator
  ankihub/ankihub_client/ankihub_client.py
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Add a media sync indicator to top toolbar
  ankihub/entry_point.py
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Align button to center
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Add toolbar button dynamically
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Return all_succeeded if sync canceled
  ankihub/ankihub_client/ankihub_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Fix failure status not being reset after new sync
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Move .create_link() call to .setup_hooks()
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Remove print()
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Add AnkiWeb client methods
  ankihub/addon_ankihub_client.py
  ankihub/ankihub_client/__init__.py
  ankihub/ankihub_client/ankihub_client.py
  ankihub/ankihub_client/ankiweb_client.py
  ankihub/gui/ankiweb.py
  ankihub/proto/.gitignore
  ankihub/proto/__init__.py
  ankihub/settings.py
  proto/account.proto
  pyproject.toml
  scripts/build.py
  scripts/protobuf_gen.py
  uv.lock
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Add a placeholder for /resend-verification
  ankihub/ankihub_client/ankiweb_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Make requests
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub
