Repository AnkiHubSoftware/ankihub_addon: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

no_absolute_imports_from_ankihub:
  name: no_absolute_imports_from_ankihub
  entry: from ankihub([.]| import )
  language: pygrep

no_anki_aqt_imports_in_client:
  name: no anki/aqt imports in ankihub_client
  entry: ^(from (anki|aqt)[ .]|import (anki|aqt))
  language: pygrep

Bump Version to 2026-07-01.1
  pyproject.toml
  uv.lock
Due: none

Bump Version to 2026-07-01.2
  pyproject.toml
  uv.lock
Due: none

[ACTV-392] step deck tour improvement on unsuspending cards (#1319)
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Bump Version to 2026-07-01.3
  pyproject.toml
  uv.lock
Due: none

fix tour overlay going back
  ankihub/gui/overlay_dialog.py
  ankihub/gui/tutorial.py
  ankihub/gui/web/overlay.css
Due: no_absolute_imports_from_ankihub

[ACTV-383] fix opaque tour overlay on macOS (window-modal sheet)
  ankihub/gui/overlay_dialog.py
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

[ACTV-383] hide tour overlay when Anki is not the active app
  ankihub/gui/overlay_dialog.py
Due: no_absolute_imports_from_ankihub

[ACTV-383] Tour going to the back when clicking on control bar on MacOS (#1322)
  ankihub/gui/overlay_dialog.py
  ankihub/gui/tutorial.py
  ankihub/gui/web/overlay.css
Due: no_absolute_imports_from_ankihub

Implement AnkiWeb signup/login screens
  ankihub/gui/ankiweb.py
  ankihub/gui/menu.py
  ankihub/gui/utils.py
Due: no_absolute_imports_from_ankihub

Prefill AnkiHub email
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Only update code button's label on first Email confirmation dialog
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Fix Sign up button enabled without accepting terms
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Make it clearer it's an AnkiWeb account
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Clean up timers after widget transitions
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Fix typo
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Break counter status into separate line
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Remove unused testing function
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Use keyword arguments to constructors where possible
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Fix mypy errors
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Remove extra line break
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Avoid shadowing argument
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Add tests
  tests/addon/test_unit.py
Due: none

Avoid new union syntax
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Fix state of Sign in button not updating after email change
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Fix mypy errors in tests
  tests/addon/test_unit.py
Due: none

[NRT-836] Show "AnkiHub | Smart Search" title when smart_search_revamp flag is on
  ankihub/gui/flashcard_selector_dialog.py
Due: no_absolute_imports_from_ankihub

[NRT-836] Keep flashcard selector in front after native file picker closes
  ankihub/gui/js_message_handling.py
  ankihub/gui/webview.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Ensure code is valid
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Disable 'Get Code' button when timer is running
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Disable code input before code is requested
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Prevent user resize while allowing dynamic resize
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Reduce layout jumps when status text changes
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Show an inline progress indicator
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Change the mask character to a star
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Remove outdated test
  tests/addon/test_unit.py
Due: none

Update taskman patch in tests
  tests/addon/test_unit.py
Due: none

[NRT-836] Apply ruff format to test file
  tests/addon/test_integration.py
Due: none

ACTV-407 Create new Intercom Messenger to be used inside Anki Desktop
  ankihub/config.json
  ankihub/entry_point.py
  ankihub/gui/config_dialog.py
  ankihub/gui/intercom.py
  ankihub/gui/menu.py
  ankihub/gui/tutorial.py
  ankihub/gui/web/lib/tutorial.css
  ankihub/gui/web/lib/tutorial.js
  ankihub/settings.py
  tests/addon/test_unit.py
  tutorial/lib/tutorial.css
  tutorial/lib/tutorial.ts
Due: no_absolute_imports_from_ankihub

update intercom settings
  ankihub/ankihub_client/__init__.py
  ankihub/ankihub_client/ankihub_client.py
  ankihub/settings.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Path conditions:
  no_absolute_imports_from_ankihub: any of: \.py$ and not (^tests/) and not (lib|media_import|ankiaddonconfig)
  no_anki_aqt_imports_in_client: any of: ^ankihub/ankihub_client/ and \.py$ and not (lib|media_import|ankiaddonconfig)
