Repository AnkiHubSoftware/ankihub_addon: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

.pre-commit-config.yaml:

exclude: "lib|media_import|ankiaddonconfig"
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.12.4
      hooks:
        - id: ruff-check
          args: [ --fix ]
        - id: ruff-format

    - repo: local
      hooks:
          - id: no_absolute_imports_from_ankihub
            name: no_absolute_imports_from_ankihub
            types: [python]
            exclude: ^tests/
            entry: "from ankihub([.]| import )"
            language: pygrep

          - id: no_anki_aqt_imports_in_client
            name: no anki/aqt imports in ankihub_client
            types: [python]
            files: ^ankihub/ankihub_client/
            entry: "^(from (anki|aqt)[ .]|import (anki|aqt))"
            language: pygrep

chore: Remove gemini config (#1337)
  .gemini/config.yaml
Due: none

[ACTV-431] Fix intercom loading delay (#1336)
  ankihub/gui/intercom.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Fix code request not being sent in SignupCodeVerificationWidget
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Avoid sending two code verification requests in initial attempt
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Reuse timer after incorrect code attempt
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Fix mypy error
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Remove custom "Invalid code" message
  ankihub/gui/ankiweb.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Tweak wording of password reset message
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

[NRT-836] Open web-view file picker as a window-modal sheet
  ankihub/gui/js_message_handling.py
  ankihub/gui/webview.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

[NRT-836] Test that cancelling the file picker keeps Smart Search open
  tests/addon/test_integration.py
Due: none

Set word wrap for email verification description
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Print a useful error if buf is not installed
  scripts/protobuf_gen.py
Due: no_absolute_imports_from_ankihub

lint
  tests/addon/test_integration.py
Due: none

Change copy on the steps of the Step Deck tour
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

ACTV-432 Fix intercom bubble tour overlay
  ankihub/gui/intercom.py
Due: no_absolute_imports_from_ankihub

[ACTV-432] Fix intercom bubble tour overlay (#1338)
  ankihub/gui/intercom.py
Due: no_absolute_imports_from_ankihub

[ACTV-424] Remove second step of the Step Deck tour (#1335)
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

[NRT-836] Remove duplicated sequential marker on flashcard selector test
  tests/addon/test_integration.py
Due: none

Ensure profile is saved
  ankihub/gui/ankiweb.py
  ankihub/gui/menu.py
Due: no_absolute_imports_from_ankihub

Use set AnkiWeb URL for external links
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Implement media sync progress dialog
  ankihub/ankihub_client/ankihub_client.py
  ankihub/gui/icons/media-download-dark.svg
  ankihub/gui/icons/media-download-light.svg
  ankihub/gui/icons/media-upload-dark.svg
  ankihub/gui/icons/media-upload-light.svg
  ankihub/gui/media_sync.py
  ankihub/gui/menu.py
  ankihub/gui/utils.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Add dialog trigger for existing status action
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Fix downloaded_media_count not being incremented
  ankihub/ankihub_client/ankihub_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Fix dialog updated on background thread
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Avoid bare except
  ankihub/ankihub_client/ankihub_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Fix retry prefix not added for upload
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Collect upload media iterable to a list for correct retry logic
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Update tests
  tests/addon/test_integration.py
  tests/client/test_client.py
Due: none

Add client tests
  ankihub/ankihub_client/__init__.py
  tests/client/test_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Move dialog initialization outside of init
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Try to fix hanging test
  tests/addon/test_unit.py
Due: none

Avoid union type syntax for aqt_legacy tests
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Fix on_downloaded_file() called with canceled future
  ankihub/ankihub_client/ankihub_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Ensure errors are logged
  ankihub/ankihub_client/ankihub_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Also display AddonQueryOp's failures
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Use list()
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Avoid overriding QDialog.close()
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Ensure count label is updated
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Remove redundant config.save_token()
  tests/addon/test_unit.py
Due: none

Skip tests on Qt5
  tests/addon/test_unit.py
Due: none
