Repository AnkiHubSoftware/ankihub_addon: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

no_absolute_imports_from_ankihub:
  name: no_absolute_imports_from_ankihub
  entry: from ankihub([.]| import )
  language: pygrep

no_anki_aqt_imports_in_client:
  name: no anki/aqt imports in ankihub_client
  entry: ^(from (anki|aqt)[ .]|import (anki|aqt))
  language: pygrep

Rename private methods
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Add generated tests
  tests/addon/test_integration.py
Due: none

Fix mypy errors
  ankihub/gui/deckbrowser.py
  ankihub/gui/overlay_dialog.py
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Fix inverted feature flag check
  ankihub/gui/tutorial.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Remove some tests
  tests/addon/test_integration.py
Due: none

Do not show prompt if deck is not installed
  ankihub/gui/tutorial.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Fix error on _deck_tree call
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Revert ankihub_web submodule to main branch
  .gitmodules
Due: none

Use logger
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

[NRT-596] Add pre-commit hook to disallow anki/aqt imports in ankihub_client (#1249)
  .pre-commit-config.yaml
Due: none

Add product tours submenu
  ankihub/gui/menu.py
Due: no_absolute_imports_from_ankihub

Mention tour in congrats screen
  ankihub/gui/overview.py
  ankihub/gui/web/overview.js
Due: no_absolute_imports_from_ankihub

Add a tour link to instructions card
  ankihub/gui/js_message_handling.py
  ankihub/gui/overview.py
  ankihub/gui/reviewer.py
  ankihub/gui/web/modify_anking_instructions.js
  ankihub/gui/web/overview.js
  ankihub/gui/web/templates.py
Due: no_absolute_imports_from_ankihub

Revert "Add a tour link to instructions card"
  ankihub/gui/js_message_handling.py
  ankihub/gui/overview.py
  ankihub/gui/reviewer.py
  ankihub/gui/web/modify_anking_instructions.js
  ankihub/gui/web/overview.js
  ankihub/gui/web/templates.py
Due: no_absolute_imports_from_ankihub

[ACTV-277] Implement Step deck tour (#1251)
  ankihub/django/app/templates/tour_step.html
  ankihub/gui/browser/browser.py
  ankihub/gui/deckbrowser.py
  ankihub/gui/flashcard_selector_dialog.py
  ankihub/gui/menu.py
  ankihub/gui/operations/new_deck_subscriptions.py
  ankihub/gui/overlay_dialog.py
  ankihub/gui/overview.py
  ankihub/gui/tutorial.py
  ankihub/gui/web/lib/tutorial.js
  ankihub/gui/web/media/toggle_suspend.png
  ankihub/gui/web/overlay.css
  ankihub/gui/web/overview.js
  ankihub/settings.py
  tests/addon/test_integration.py
  tutorial/lib/tutorial.ts
Due: no_absolute_imports_from_ankihub

Match Anki's media extraction logic
  ankihub/ankihub_client/models.py
  ankihub/common_utils.py
  ankihub/db/db.py
  ankihub/gui/decks_dialog.py
  ankihub/gui/media_sync.py
  ankihub/gui/suggestion_dialog.py
  ankihub/main/suggestions.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Update tests
  tests/addon/test_integration.py
  tests/addon/test_unit.py
  tests/client/test_client.py
Due: none

new deck config
  ankihub/main/deck_options.py
Due: no_absolute_imports_from_ankihub

create config keys for new and review card limits
  ankihub/main/deck_options.py
Due: no_absolute_imports_from_ankihub

Remove handling of `anki:tts`
  ankihub/common_utils.py
Due: no_absolute_imports_from_ankihub

Rename function
  ankihub/ankihub_client/models.py
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Simplify tests
  tests/addon/test_unit.py
Due: none

Ignore empty media refs in fields
  ankihub/common_utils.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

[ACTV-276] new deck config (#1253)
  ankihub/main/deck_options.py
Due: no_absolute_imports_from_ankihub

Fix inverted re.sub args
  ankihub/common_utils.py
Due: no_absolute_imports_from_ankihub

Remove one-line delegates and tweak names for consistency
  ankihub/ankihub_client/models.py
  ankihub/common_utils.py
  ankihub/gui/decks_dialog.py
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Optimize query for suggestion note types
  ankihub/main/suggestions.py
Due: no_absolute_imports_from_ankihub

Fix renamed functions in tests
  tests/addon/test_integration.py
  tests/addon/test_unit.py
Due: none

Set latexsvg=False explicitly in tests
  tests/addon/test_integration.py
Due: none

Use note type from AnkiHub DB
  ankihub/db/db.py
  ankihub/gui/media_sync.py
  ankihub/main/suggestions.py
Due: no_absolute_imports_from_ankihub

Fix import
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Fix tests
  tests/addon/test_integration.py
Due: none

Fix dark mode support
  ankihub/gui/web/lib/tutorial.css
  ankihub/gui/web/lib/tutorial.js
  scripts/build.py
  tutorial/lib/tutorial.css
  tutorial/lib/tutorial.ts
Due: no_absolute_imports_from_ankihub

Tweak body of suspended cards step
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

[ACTV-280] Improve deck media detection (#1252)
  ankihub/ankihub_client/models.py
  ankihub/common_utils.py
  ankihub/db/db.py
  ankihub/gui/decks_dialog.py
  ankihub/gui/media_sync.py
  ankihub/gui/suggestion_dialog.py
  ankihub/main/suggestions.py
  tests/addon/test_integration.py
  tests/addon/test_unit.py
  tests/client/test_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

[ACTV-277] Fix dark mode support in tours (#1254)
  ankihub/gui/tutorial.py
  ankihub/gui/web/lib/tutorial.css
  ankihub/gui/web/lib/tutorial.js
  scripts/build.py
  tutorial/lib/tutorial.css
  tutorial/lib/tutorial.ts
Due: no_absolute_imports_from_ankihub

Tweak copy
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Ajust text color over yellow background
  ankihub/gui/tutorial.py
  ankihub/gui/web/lib/tutorial.js
Due: no_absolute_imports_from_ankihub

Strip AnkiHub modifications from question side
  ankihub/main/utils.py
Due: no_absolute_imports_from_ankihub

Path conditions:
  no_absolute_imports_from_ankihub: any of: \.py$ and not (^tests/) and not (lib|media_import|ankiaddonconfig)
  no_anki_aqt_imports_in_client: any of: ^ankihub/ankihub_client/ and \.py$ and not (lib|media_import|ankiaddonconfig)
