Repository AnkiHubSoftware/ankihub_addon: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

no_absolute_imports_from_ankihub:
  name: no_absolute_imports_from_ankihub
  entry: from ankihub([.]| import )
  language: pygrep

no_anki_aqt_imports_in_client:
  name: no anki/aqt imports in ankihub_client
  entry: ^(from (anki|aqt)[ .]|import (anki|aqt))
  language: pygrep

Use install_ah_deck and import_ah_note in the new importer tests
  tests/addon/test_integration.py
Due: none

Reuse the field value and tag sets in the import hot path
  ankihub/main/importing.py
Due: no_absolute_imports_from_ankihub

Log the overwrite summary at INFO
  ankihub/main/importing.py
Due: no_absolute_imports_from_ankihub

Stop a late background write from failing the logout test at teardown
  tests/addon/test_unit.py
Due: none

[ACTV-430] Adapt Anking Step Deck tour to have unsuspended cards by default (#1346)
  ankihub/gui/tutorial.py
  tutorial/package-lock.json
Due: no_absolute_imports_from_ankihub

[ACTV-435][Onboarding Tour] Adjust "learning card" copy in Step 4 (#1348)
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

[ACTV-436] unsupend cards by default (#1347)
  ankihub/main/importing.py
  ankihub/settings.py
Due: no_absolute_imports_from_ankihub

Require callers to state whether a reset may discard protect tags
  ankihub/gui/browser/browser.py
  ankihub/gui/tutorial.py
  ankihub/main/reset_local_changes.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Drop the comment above the reset log line
  ankihub/main/reset_local_changes.py
Due: no_absolute_imports_from_ankihub

Say why the tutorial resets the intro deck
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

[KNW-204] Show error on password missmatch (#1355)
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Say tags too in the database check's reset warning
  ankihub/gui/operations/db_check/anki_db_check.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Gate media sync progress behind a feature flag
  ankihub/gui/media_sync.py
  ankihub/settings.py
  tests/addon/test_integration.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Drop the stale 'may take a while' from the database check dialog
  ankihub/gui/operations/db_check/anki_db_check.py
Due: no_absolute_imports_from_ankihub

Keep the database check dialog copy as it was
  ankihub/gui/operations/db_check/anki_db_check.py
Due: no_absolute_imports_from_ankihub

Only log stripped protect tags when some were stripped
  ankihub/main/reset_local_changes.py
Due: no_absolute_imports_from_ankihub

Name the stripped-tag list for what puts notes in it
  ankihub/main/reset_local_changes.py
Due: no_absolute_imports_from_ankihub

[NRT-866] Log which local content an import overwrites (#1356)
  ankihub/gui/deck_updater.py
  ankihub/main/importing.py
  tests/addon/test_integration.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Stop late background writes from failing the feature flag tests
  tests/addon/test_unit.py
Due: none

[NRT-867] Don't discard personally protected content in the database check's reset (#1357)
  ankihub/gui/browser/browser.py
  ankihub/gui/operations/db_check/anki_db_check.py
  ankihub/gui/tutorial.py
  ankihub/main/reset_local_changes.py
  tests/addon/test_integration.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

[KNW-216] Gate media sync progress dialog/button behind a feature flag (#1358)
  ankihub/gui/media_sync.py
  ankihub/settings.py
  tests/addon/test_integration.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

[KNW-214] refactor: rename magic-code proto field to resend_cooldown_secs (#1352)
  ankihub/gui/ankiweb.py
  proto/user_backend/magic_code.proto
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Bump Version to 2026-08-03.1
  pyproject.toml
  uv.lock
Due: none

fix: Pin asgiref and urllib3 to versions that still support Python 3.9
  pyproject.toml
  uv.lock
Due: none

fix: Pin asgiref and urllib3 to versions that still support Python 3.9 (#1359)
  pyproject.toml
  uv.lock
Due: none

Bump Version to 2026-08-04.1
  pyproject.toml
  uv.lock
Due: none

[NRT-873] Build the vendored bundle from uv.lock and guard Python 3.9 support
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  ankihub/__init__.py
  ankihub/ankihub_client/ankihub_client.py
  justfile
  pyproject.toml
  scripts/build.py
  scripts/check_addon_import.py
  scripts/release.sh
  uv.lock
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Remove unsuspend cards message on the congrats screen
  ankihub/gui/web/overview.js
Due: none

[ACTV-441] Remove "tour on how to unsuspend cards" paragraph from Congrats screen (#1361)
  ankihub/gui/web/overview.js
Due: none

Fix sync silently failing after AnkiWeb errors
  ankihub/gui/auto_sync.py
  ankihub/gui/exceptions.py
  ankihub/gui/operations/ankihub_sync.py
Due: no_absolute_imports_from_ankihub

Remove get_sync_status delay workaround
  ankihub/gui/operations/ankihub_sync.py
Due: no_absolute_imports_from_ankihub

Generate tests
  tests/addon/test_integration.py
Due: none

Avoid uses_collection on older versions
  ankihub/gui/operations/ankihub_sync.py
Due: no_absolute_imports_from_ankihub

Call set_current_sync_url()
  ankihub/gui/operations/ankihub_sync.py
Due: no_absolute_imports_from_ankihub

[KNW-217] Fix AnkiHub sync failing silently after AnkiWeb errors (#1362)
  ankihub/gui/auto_sync.py
  ankihub/gui/exceptions.py
  ankihub/gui/operations/ankihub_sync.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Bump Version to 2026-08-07.1
  pyproject.toml
  uv.lock
Due: none

fix: stop password signup from sending a second verification email
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Fix AnkiWeb magic-code login after Preferences AnkiHub sign-in
  ankihub/entry_point.py
  ankihub/gui/menu.py
  ankihub/settings.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Keep Preferences AnkiHub login status in sync after menu Sign In
  ankihub/gui/menu.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

style: apply ruff format to signup verification message
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Path conditions:
  no_absolute_imports_from_ankihub: any of: \.py$ and not (^tests/) and not (lib|media_import|ankiaddonconfig)
  no_anki_aqt_imports_in_client: any of: ^ankihub/ankihub_client/ and \.py$ and not (lib|media_import|ankiaddonconfig)
