Repository AnkiHubSoftware/ankihub_addon: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

no_absolute_imports_from_ankihub:
  name: no_absolute_imports_from_ankihub
  entry: from ankihub([.]| import )
  language: pygrep

no_anki_aqt_imports_in_client:
  name: no anki/aqt imports in ankihub_client
  entry: ^(from (anki|aqt)[ .]|import (anki|aqt))
  language: pygrep

Bump Version to 2026-08-17.1
  pyproject.toml
  uv.lock
Due: none

[NRT-903] Add client method to claim the trial-ended message
  ankihub/ankihub_client/ankihub_client.py
  tests/client/test_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

[NRT-903] Claim the trial-ended message when showing the upsell
  ankihub/gui/flashcard_selector_dialog.py
Due: no_absolute_imports_from_ankihub

[NRT-903] Add tests for the claim-driven upsell and its events
  tests/addon/test_integration.py
Due: none

[NRT-903] Fix claim-failure test to use a real Response
  tests/addon/test_integration.py
Due: none

[ACTV-477] Tour does not reopen when closing anki before finish (#1371)
  ankihub/entry_point.py
  ankihub/gui/tutorial.py
  tests/addon/test_integration.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

add fallback when smart search button not found
  ankihub/gui/overlay_dialog.py
  ankihub/gui/tutorial.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

[NRT-903] Address review: drop unused arg, trim volatile pointers
  ankihub/gui/flashcard_selector_dialog.py
Due: no_absolute_imports_from_ankihub

Prefer email over e-mail in verification copy
  ankihub/gui/ankiweb.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

[KNW-221] Add resend cooldown and polish password-signup email verification UI (#1369)
  ankihub/gui/ankiweb.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

[ACTV-454] add fallback when smart search button not found (#1376)
  ankihub/gui/overlay_dialog.py
  ankihub/gui/tutorial.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

make support button config tests deterministic on CI
  tests/addon/test_unit.py
Due: none

make support button config tests deterministic on CI (#1377)
  tests/addon/test_unit.py
Due: none

Remove the unsuspend_card_by_default feature flag
  ankihub/main/importing.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

[NRT-771] Review pass: drop the last redundant lookups and trim NoteDiff
  ankihub/gui/suggestion_dialog.py
  ankihub/main/suggestions.py
  tests/addon/test_integration.py
  tests/fixtures.py
Due: no_absolute_imports_from_ankihub

[NRT-771] Batch the media step's AH-DB reads; name the empty-selection state
  ankihub/gui/suggestion_dialog.py
  ankihub/main/suggestions.py
Due: no_absolute_imports_from_ankihub

[NRT-771] Guard the batched AH-DB reads; trim restated comments
  ankihub/main/suggestions.py
  tests/addon/performance/test_suggestion_dialog.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

[NRT-771] Count AH-DB queries in the submit guard, not reader method names
  tests/addon/test_integration.py
Due: none

[NRT-771] Pin the bulk-DELETE behaviour change with a test
  tests/addon/test_integration.py
Due: none

Remove the unsuspend_card_by_default feature flag (#1378)
  ankihub/main/importing.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Bump Version to 2026-08-25.1
  pyproject.toml
  uv.lock
Due: none

[NRT-903] Claim the trial-ended message when showing the upsell (#1375)
  ankihub/ankihub_client/ankihub_client.py
  ankihub/gui/flashcard_selector_dialog.py
  tests/addon/test_integration.py
  tests/client/test_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

[NRT-771] Address review nits from @cacoze
  ankihub/gui/suggestion_dialog.py
  ankihub/main/suggestions.py
Due: no_absolute_imports_from_ankihub

[NRT-771] Revert the first-field lock predicate change
  ankihub/gui/suggestion_dialog.py
Due: no_absolute_imports_from_ankihub

[NRT-771] Post-flag-flip cleanup: drop AUTO_PROTECT_FEATURE_FLAG scaffolding + thread NoteDiff (#1305)
  ankihub/gui/decks_dialog.py
  ankihub/gui/editor.py
  ankihub/gui/suggestion_dialog.py
  ankihub/main/suggestions.py
  tests/addon/performance/test_suggestion_dialog.py
  tests/addon/test_integration.py
  tests/addon/test_unit.py
  tests/fixtures.py
Due: no_absolute_imports_from_ankihub

Sweep the whole bundle for extensions that cannot travel, and parse it on 3.9
  pyproject.toml
  scripts/build.py
  scripts/check_addon_import.py
  scripts/release.sh
Due: no_absolute_imports_from_ankihub

Audit vendored extensions by package, not by abi3 tag
  scripts/build.py
Due: no_absolute_imports_from_ankihub

Check the archive parses on 3.9, build from the lock, and delete safely
  scripts/release.sh
Due: none

Trim comments to the constraints they state
  pyproject.toml
  scripts/build.py
  scripts/check_addon_import.py
  scripts/release.sh
Due: no_absolute_imports_from_ankihub

Close the media_import side door, and enforce the lock at the other call sites
  .github/actions/setup-addon/action.yml
  pyproject.toml
  scripts/build.py
  scripts/check_addon_import.py
  scripts/release.sh
  uv.lock
Due: no_absolute_imports_from_ankihub

[NRT-873] Build the vendored bundle from uv.lock and guard Python 3.9 support (#1360)
  .github/actions/setup-addon/action.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  ankihub/__init__.py
  ankihub/ankihub_client/ankihub_client.py
  justfile
  pyproject.toml
  scripts/build.py
  scripts/check_addon_import.py
  scripts/release.sh
  uv.lock
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Bump Version to 2026-08-27.1
  pyproject.toml
  uv.lock
Due: none

Do not report media sync errors caused by stale DB entries
  ankihub/ankihub_client/ankihub_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Update tests
  tests/client/test_client.py
Due: none

Extract media names from AnkiHub DB instead of collection
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Use .iterator() in media_names_for_ankihub_deck() to avoid holding rows in memory
  ankihub/db/db.py
Due: no_absolute_imports_from_ankihub

Fix tests
  tests/addon/test_integration.py
Due: none

Avoid scanning the notes table twice and use .tuples()
  ankihub/db/db.py
Due: no_absolute_imports_from_ankihub

Revert "Extract media names from AnkiHub DB instead of collection"
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Clarify why a collection scan is needed.
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Path conditions:
  no_absolute_imports_from_ankihub: any of: \.py$ and not (^tests/) and not (lib|media_import|ankiaddonconfig)
  no_anki_aqt_imports_in_client: any of: ^ankihub/ankihub_client/ and \.py$ and not (lib|media_import|ankiaddonconfig)
