Repository AnkiHubSoftware/ankihub_addon: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

.pre-commit-config.yaml:

exclude: "lib|media_import|ankiaddonconfig"
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.12.4
      hooks:
        - id: ruff-check
          args: [ --fix ]
        - id: ruff-format

    - repo: local
      hooks:
          - id: no_absolute_imports_from_ankihub
            name: no_absolute_imports_from_ankihub
            types: [python]
            exclude: ^tests/
            entry: "from ankihub([.]| import )"
            language: pygrep

          - id: no_anki_aqt_imports_in_client
            name: no anki/aqt imports in ankihub_client
            types: [python]
            files: ^ankihub/ankihub_client/
            entry: "^(from (anki|aqt)[ .]|import (anki|aqt))"
            language: pygrep

Fix long errors getting truncated
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Use a separate exception for AnkiWeb
  ankihub/ankihub_client/ankiweb_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Handle AddonQueryOp errors
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Replace simulated errors
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Update tests
  tests/addon/test_unit.py
Due: none

Ensure _toolbar_link is available in tests
  tests/addon/test_integration.py
  tests/addon/test_unit.py
Due: none

Fix leading zeroes not being accepted in AnkiWeb codes
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Add test
  tests/addon/test_unit.py
Due: none

fix: Ankiweb code validator not accepting leading zeroes (#1331)
  ankihub/gui/ankiweb.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Move magic-code endpoints to the user_backend sync server
  ankihub/addon_ankihub_client.py
  ankihub/ankihub_client/ankihub_client.py
  ankihub/ankihub_client/ankiweb_client.py
  proto/account.proto
  proto/magic_code.proto
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

fix plan data on track product events
  ankihub/settings.py
Due: no_absolute_imports_from_ankihub

add step number on tour abandoned event
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

update prod product metrics url
  ankihub/product_metrics_client/product_metrics_client.py
Due: no_absolute_imports_from_ankihub

fix test
  tests/addon/test_unit.py
Due: none

Remove API.ANKIWEB_USER_BACKEND
  ankihub/addon_ankihub_client.py
  ankihub/ankihub_client/__init__.py
  ankihub/ankihub_client/ankihub_client.py
  ankihub/ankihub_client/ankiweb_client.py
  ankihub/settings.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Move magic-code endpoints to the user_backend sync server (#1333)
  ankihub/addon_ankihub_client.py
  ankihub/ankihub_client/__init__.py
  ankihub/ankihub_client/ankihub_client.py
  ankihub/ankihub_client/ankiweb_client.py
  ankihub/settings.py
  proto/account.proto
  proto/magic_code.proto
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Fix SignupCodeVerificationWidget using non-existing email_input
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Update API
  ankihub/ankihub_client/ankiweb_client.py
  ankihub/gui/ankiweb.py
  ankihub/proto/frontend/__init__.py
  ankihub/proto/user_backend/__init__.py
  proto/frontend/account.proto
  proto/user_backend/account.proto
  proto/user_backend/magic_code.proto
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Actv 228 (#1332)
  ankihub/gui/tutorial.py
  ankihub/product_metrics_client/product_metrics_client.py
  ankihub/settings.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Fix missing `terms` in password signup
  ankihub/ankihub_client/ankiweb_client.py
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Persist AnkiWeb credentials
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

ACTV-425 Create and set an attribute on Intercom to store client type
  ankihub/gui/intercom.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Use timeout seconds from backend where available
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

[ACTV-425] Create and set an attribute on Intercom to store client type (#1334)
  ankihub/gui/intercom.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Use code_ttl_secs from MagicCodeLoginResponse
  ankihub/gui/ankiweb.py
  proto/user_backend/magic_code.proto
Due: no_absolute_imports_from_ankihub

Update SignupEmailVerificationWidget to be throttle-based
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Remove step 2 of the Step Deck tour
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Handle UNAUTHORIZED status code
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Move AnkiWebHTTPError import down
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Tweak function name
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Fix test in old Anki
  tests/addon/test_unit.py
Due: none

Display a custom error for password login
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Revert "Display a custom error for password login"
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

fix intercom loading delay
  ankihub/gui/intercom.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Remove gemini config
  .gemini/config.yaml
Due: none

[KNW-174] Add a media sync progress indicator to the main screen (#1329)
  ankihub/ankihub_client/ankihub_client.py
  ankihub/entry_point.py
  ankihub/gui/icons/media-sync-dark.svg
  ankihub/gui/icons/media-sync-error-dark.svg
  ankihub/gui/icons/media-sync-error-light.svg
  ankihub/gui/icons/media-sync-light.svg
  ankihub/gui/media_sync.py
  ankihub/gui/utils.py
  tests/addon/test_integration.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client
