Repository AnkiHubSoftware/ankihub_addon: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

no_absolute_imports_from_ankihub:
  name: no_absolute_imports_from_ankihub
  entry: from ankihub([.]| import )
  language: pygrep

no_anki_aqt_imports_in_client:
  name: no anki/aqt imports in ankihub_client
  entry: ^(from (anki|aqt)[ .]|import (anki|aqt))
  language: pygrep

Remove aqt dependency from media extraction in ankihub client (#1246)
  ankihub/ankihub_client/models.py
  ankihub/gui/decks_dialog.py
  ankihub/gui/media_sync.py
  ankihub/gui/operations/deck_creation.py
  ankihub/main/suggestions.py
  tests/addon/test_unit.py
  tests/client/test_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Add pre-commit hook to disallow anki/aqt imports in ankihub_client
  .pre-commit-config.yaml
Due: none

Support a callback for qt_target
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Use target.window() if no parent_widget
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Pass step to shown_callback
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Handle DeckOptionsDialog context
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Implement prompt for Step deck tour
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Wait for target element for a few seconds
  ankihub/gui/web/lib/tutorial.js
  tutorial/lib/tutorial.ts
Due: none

Allow toggling backdrop per step
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Bump Version to 2026-02-19.1
  pyproject.toml
  uv.lock
Due: none

Fix submodule auth in upload workflows so release child jobs can clone ankihub_web
  .github/workflows/upload_to_ankiweb.yml
  .github/workflows/upload_to_s3.yml
Due: none

Fix submodule auth in upload workflows (#1250)
  .github/workflows/upload_to_ankiweb.yml
  .github/workflows/upload_to_s3.yml
Due: none

Bump Version to 2026-02-19.2
  pyproject.toml
  uv.lock
Due: none

Add an option to remove parent's backdrop
  ankihub/gui/tutorial.py
  ankihub/gui/web/lib/tutorial.js
  tutorial/lib/tutorial.ts
Due: no_absolute_imports_from_ankihub

Only clean up previous step's webviews if not reused
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Pass given parent to _show_upsell
  ankihub/gui/flashcard_selector_dialog.py
Due: no_absolute_imports_from_ankihub

Set object name for Flashcard Selector button
  ankihub/gui/browser/browser.py
Due: no_absolute_imports_from_ankihub

Use primary color for target outline
  ankihub/gui/web/overlay.css
Due: none

Add QtTutorialStep
  ankihub/gui/overlay_dialog.py
  ankihub/gui/tutorial.py
  ankihub/gui/web/overlay.css
Due: no_absolute_imports_from_ankihub

Make extra_backdrop_contexts a method for consistency
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Add Tutorial.is_active
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Implement StepDeckTutorial
  ankihub/gui/tutorial.py
  ankihub/gui/web/media/toggle_suspend.png
Due: no_absolute_imports_from_ankihub

Add tour triggers
  ankihub/gui/deckbrowser.py
  ankihub/gui/operations/new_deck_subscriptions.py
  ankihub/gui/tutorial.py
  ankihub/settings.py
Due: no_absolute_imports_from_ankihub

Remove unused Tutorial.name
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Add an option to restart tour at last step
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Set web app submodule to dev branch
  .gitmodules
Due: none

Add an option to hide step's close button
  ankihub/django/app/templates/tour_step.html
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Hide back button
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Move to next step if Deck Options opened manually
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Ensure deck is selected before starting tour
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Fix backdrop webviews not being cleaned up on exit
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Add note about Next button to Daily Limits step
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Handle unexpected Deck Options close
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Ensure we start browser with Cards mode
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Handle Browse button
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Go back to previous step if browser closed
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Show Deck Options / Browser window maximized
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Fix sidebar outline off by a few pixels
  ankihub/gui/overlay_dialog.py
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Ensure tutorial is active before back/next/go_to_step calls
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Rework browser hooking
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Path conditions:
  no_absolute_imports_from_ankihub: any of: \.py$ and not (^tests/) and not (lib|media_import|ankiaddonconfig)
  no_anki_aqt_imports_in_client: any of: ^ankihub/ankihub_client/ and \.py$ and not (lib|media_import|ankiaddonconfig)
