Repository AnkiHubSoftware/ankihub_addon: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

no_absolute_imports_from_ankihub:
  name: no_absolute_imports_from_ankihub
  entry: from ankihub([.]| import )
  language: pygrep

no_anki_aqt_imports_in_client:
  name: no anki/aqt imports in ankihub_client
  entry: ^(from (anki|aqt)[ .]|import (anki|aqt))
  language: pygrep

Remove every back button label from the Step Deck Tour
  ankihub/gui/tutorial.py
  tutorial/package-lock.json
Due: no_absolute_imports_from_ankihub

[NRT-864] Last QA fixes (#1351)
  ankihub/gui/js_message_handling.py
  ankihub/gui/web/webview_dialog_escape.js
  ankihub/gui/webview.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

fix: persist magic-code resend cooldown across dialog reopen
  ankihub/gui/ankiweb.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Add bullet point to the step
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Catch collection errors while media sync is active
  ankihub/addon_ankihub_client.py
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Add missing upload cancellation
  ankihub/ankihub_client/ankihub_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Remove print
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Add test
  tests/addon/test_integration.py
Due: none

Show a custom error message for AnkiHubRequestException
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Log exception
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

docs: clarify ResendCooldownTracker is a UI-only convenience
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Show error details under a link
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Add test for upload
  tests/addon/test_integration.py
Due: none

Add tests for MediaSyncProgressDialog
  tests/addon/test_unit.py
Due: none

Fix SignupCodeVerificationWidget constructor in test
  tests/addon/test_unit.py
Due: none

[KNW-177] Catch collection errors while media sync is active (#1353)
  ankihub/addon_ankihub_client.py
  ankihub/gui/media_sync.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Fix error on external links
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Fix 'None' shown as error
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Add tests
  tests/addon/test_unit.py
Due: none

Remove unused .set_maximum()
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Remove extra ._get_status() call
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

[KNW-204] Show error on password missmatch
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

[KNW-176] Improve reporting of media sync cancellation (#1350)
  ankihub/ankihub_client/ankihub_client.py
  ankihub/entry_point.py
  ankihub/gui/media_sync.py
  ankihub/gui/menu.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Move style changes to main thread ---------
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Fix test
  tests/addon/test_unit.py
Due: none

lint
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

[KNW-215] Show a custom error message for AnkiWeb connection errors (#1354)
  ankihub/gui/ankiweb.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

use editingFinished
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

change function order
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Fix: Wrong function call
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

fix tests
  ankihub/gui/ankiweb.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

[TRIAGE-36] Log which local content an import overwrites
  ankihub/gui/deck_updater.py
  ankihub/main/importing.py
  ankihub/main/reset_local_changes.py
  tests/addon/test_integration.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

[TRIAGE-36] Don't discard personally protected content in the database check's reset
  ankihub/gui/operations/db_check/anki_db_check.py
  ankihub/main/reset_local_changes.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Drop ticket id from test docstring
  tests/addon/test_integration.py
Due: none

Drop ticket ids from docstrings and comments
  ankihub/gui/deck_updater.py
  ankihub/main/importing.py
  ankihub/main/reset_local_changes.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Name the protection sets old_/new_ in the shrink check
  ankihub/gui/deck_updater.py
Due: no_absolute_imports_from_ankihub

Scope the unprotected-note-type signal to note types that lost content
  ankihub/main/importing.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Record whole removed tags instead of their top-level component
  ankihub/main/importing.py
  tests/addon/test_integration.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Move the reset logging to the reset PR
  ankihub/main/reset_local_changes.py
Due: no_absolute_imports_from_ankihub

Log reset entry and stripped protect tags; use install_ah_deck in new tests
  ankihub/main/reset_local_changes.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Path conditions:
  no_absolute_imports_from_ankihub: any of: \.py$ and not (^tests/) and not (lib|media_import|ankiaddonconfig)
  no_anki_aqt_imports_in_client: any of: ^ankihub/ankihub_client/ and \.py$ and not (lib|media_import|ankiaddonconfig)
