Repository AnkiHubSoftware/ankihub_addon: changes, and which pre-commit hooks are due for each by the changed paths.
All: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

.pre-commit-config.yaml:

exclude: "lib|media_import|ankiaddonconfig"
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.1.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.12.4
      hooks:
        - id: ruff-check
          args: [ --fix ]
        - id: ruff-format

    - repo: local
      hooks:
          - id: no_absolute_imports_from_ankihub
            name: no_absolute_imports_from_ankihub
            types: [python]
            exclude: ^tests/
            entry: "from ankihub([.]| import )"
            language: pygrep

          - id: no_anki_aqt_imports_in_client
            name: no anki/aqt imports in ankihub_client
            types: [python]
            files: ^ankihub/ankihub_client/
            entry: "^(from (anki|aqt)[ .]|import (anki|aqt))"
            language: pygrep

Install `buf` on coverage-and-static-checks CI
  .github/workflows/ci.yml
Due: none

Use uv in release.sh
  scripts/release.sh
Due: none

Fix long line
  scripts/protobuf_gen.py
Due: no_absolute_imports_from_ankihub

[KNW-175] Implement a dialog to display media sync progress (#1339)
  ankihub/ankihub_client/__init__.py
  ankihub/ankihub_client/ankihub_client.py
  ankihub/gui/icons/media-download-dark.svg
  ankihub/gui/icons/media-download-light.svg
  ankihub/gui/icons/media-upload-dark.svg
  ankihub/gui/icons/media-upload-light.svg
  ankihub/gui/media_sync.py
  ankihub/gui/menu.py
  ankihub/gui/utils.py
  tests/addon/test_integration.py
  tests/client/test_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Fix empty error response message
  ankihub/ankihub_client/ankiweb_client.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

[KNW-188] Add AnkiWeb client for login/signup (#1330)
  .github/workflows/ci.yml
  ankihub/addon_ankihub_client.py
  ankihub/ankihub_client/__init__.py
  ankihub/ankihub_client/ankihub_client.py
  ankihub/ankihub_client/ankiweb_client.py
  ankihub/gui/ankiweb.py
  ankihub/gui/menu.py
  ankihub/proto/.gitignore
  ankihub/proto/__init__.py
  ankihub/proto/frontend/__init__.py
  ankihub/proto/user_backend/__init__.py
  ankihub/settings.py
  proto/frontend/account.proto
  proto/user_backend/account.proto
  proto/user_backend/magic_code.proto
  pyproject.toml
  scripts/build.py
  scripts/protobuf_gen.py
  scripts/release.sh
  tests/addon/test_unit.py
  uv.lock
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Fix negative countdown timer in Email Confirmation
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Center error icon and message in AnkiWeb dialog, sizing to text length
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Rename to remaining_seconds
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

Make SignupCodeVerificationWidget's constructor less confusing
  ankihub/gui/ankiweb.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

Add tests
  tests/addon/test_unit.py
Due: none

Update to Anki 26.05
  pyproject.toml
  uv.lock
Due: none

Remove aqt_25_2_7 dependency group
  README.md
  justfile
  pyproject.toml
  uv.lock
Due: none

Restrict `aqt` group to python_version >= 3.10
  pyproject.toml
  uv.lock
Due: none

[KNW-207] Add back button
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

increase duration_seconds for tests
  tests/addon/performance/test_subdeck_operations.py
Due: none

[KNW-197, KNW-208, KNW-209]Center error icon and message in AnkiWeb dialog, sizing to text length (#1341)
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

chore: Bump aqt (#1342)
  README.md
  justfile
  pyproject.toml
  uv.lock
Due: none

[KNW-206] Fix negative countdown timer in Email Confirmation (#1340)
  ankihub/gui/ankiweb.py
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub

fix AnKing Step Deck tour showing a translucent border
  ankihub/gui/overlay_dialog.py
  ankihub/gui/tutorial.py
  ankihub/gui/web/lib/tutorial.js
Due: no_absolute_imports_from_ankihub

increase duration_seconds for tests (#1344)
  tests/addon/performance/test_subdeck_operations.py
Due: none

Remove the unsuspend button and change the copy of some steps of the Step Deck Tour
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

[ACTV-436] unsupend cards by default
  ankihub/main/importing.py
  ankihub/settings.py
Due: no_absolute_imports_from_ankihub

Change the copy of the step 5 of the Onboarding Tour
  ankihub/gui/tutorial.py
Due: no_absolute_imports_from_ankihub

Go back to password signup if password-based
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

[KNW-207] Add back button (#1343)
  ankihub/gui/ankiweb.py
Due: no_absolute_imports_from_ankihub

[NRT-836] QA1 Smart Search (#1325)
  ankihub/gui/flashcard_selector_dialog.py
  ankihub/gui/js_message_handling.py
  ankihub/gui/utils.py
  ankihub/gui/webview.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Handle cancel as an explicit status
  ankihub/gui/media_sync.py
  ankihub/gui/menu.py
Due: no_absolute_imports_from_ankihub

Reset progress on profile switch
  ankihub/entry_point.py
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Let task's finished callback take care of reset
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

Set custom sync url to ANKIWEB_URL
  ankihub/entry_point.py
Due: no_absolute_imports_from_ankihub

[ACTV-395][fix] AnKing Step Deck tour step showing outlined border (#1345)
  ankihub/gui/overlay_dialog.py
  ankihub/gui/tutorial.py
  ankihub/gui/web/lib/tutorial.js
Due: no_absolute_imports_from_ankihub

Add more cancellation checks and logs
  ankihub/ankihub_client/ankihub_client.py
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub, no_anki_aqt_imports_in_client

Update ankihub/entry_point.py
  ankihub/entry_point.py
Due: no_absolute_imports_from_ankihub

Revert change to increment_progress
  ankihub/gui/media_sync.py
Due: no_absolute_imports_from_ankihub

just lint
  ankihub/entry_point.py
Due: no_absolute_imports_from_ankihub

[NRT-864] Keep the webview dialog open when opening the page in a web browser
  ankihub/gui/webview.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

[NRT-864] Let the page handle Escape before closing the webview dialog
  ankihub/gui/js_message_handling.py
  ankihub/gui/web/webview_dialog_escape.js
  ankihub/gui/webview.py
  tests/addon/test_integration.py
Due: no_absolute_imports_from_ankihub

Set custom sync url to ANKIWEB_URL (#1349)
  ankihub/entry_point.py
Due: no_absolute_imports_from_ankihub

feat: enforce per-email magic-code resend cooldown
  ankihub/gui/ankiweb.py
  proto/user_backend/magic_code.proto
  tests/addon/test_unit.py
Due: no_absolute_imports_from_ankihub
